/node_modules
images
screenshot.png

.vscode
.dist
/storage/blocks
/storage/datastore
/storage/keystore
/storage/api
/storage/config
/storage/datastore_spec
/storage/gateway
/storage/repo.lock
/storage/version



