body {
    background-color:rgba(20, 90, 175, 0.288);

}

div {
    margin-top:35px;
    text-align:center;
    color:white;
    font-family:Cubano;
    height: fit-content;
}

p {
    font-size:5em;
}

button {
    width:auto;
    height:auto;
    font-size:8em;
    font-family:Cubano;
    color:white;
    text-align:center;
    background-color:#555555;
    border-width:8px;
}