events {
    worker_connections  1024;
}

http {
    server_tokens off;
    charset utf-8;
    {% for domain, details in cloudflare_zone_ids.items() %}
    # Always redirect HTTP to HTTPS
    server {
        listen 80;
        server_name {{ domain }};
        return 301 https://$host$request_uri;
    }
    # Configuration for astromanga.com
    server {
        listen 443 ssl http2;
        server_name {{ domain }};

        ssl_certificate /etc/letsencrypt/live/{{ primary_domain }}/fullchain.pem;
        ssl_certificate_key /etc/letsencrypt/live/{{ primary_domain }}/privkey.pem;

        # include /etc/letsencrypt/options-ssl-nginx.conf; # Recommended SSL settings
        # ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem; # DH parameters

        location / {
            proxy_pass http://{{ details.service }}:{{ details.port }};
            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header X-Forwarded-Proto $scheme;

            # WebSocket support
            proxy_http_version 1.1;
            proxy_set_header Upgrade $http_upgrade;
            proxy_set_header Connection "upgrade";
        }

        location ~ /.well-known/acme-challenge/ {
            root /var/www/certbot;
        }
    }
    {% endfor %}
}

