S3_SECRET_ACCESS_KEY=3+W4bF+ssdhg423k43h3+6imLoxDt5Mi
S3_ACCESS_KEY=AKIAJHJHJHJHJHJHJH
GOOGLE_SECRET=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aEZ
GOOGLE_ID=2423423434-adfdfads45rrfdera3r3r3.apps.googleusercontent.com
MONGODB_URI=mongodb+srv://username:password@cluster0.lujsdmj.mongodb.net/?retryWrites=true&w=majority